.banner {
    background-image: url('https://i.ibb.co/0KcjpQj/banner.jpg');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
}